@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");

.typewriter {
  display: flex;
  justify-content: center;
  margin: 155px 0;
}

.typewriter__type {
  font-family: "Cutive Mono", monospace;
  font-size: 28px;
}

.typewriter__cursor {
  background-color: #363636;
  width: 1px;
}
