{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    }
}